@charset "utf-8";

@import url("framework.css");

.Reserve{
	background-image: url("../img/img8.jpg"); 
	background-repeat: 
	no-repeat;
	background-size: 100%; 
	background-attachment: 
	fixed;
	text-align: center;
	justify-content: center;
}
.reserve1{
	background-color: #fff;
	width: 100%;
	text-align: center;
	justify-content: center;
	padding: 60px 0px;
}
.reserve1 .dates{
	margin-bottom: 50px;
	padding-left: 10.2%;
}

.choose{
	border: 1px solid #bdc3c7;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.spaces{
	margin-top: 60px;
}
.choose h3{
	margin-top: 50px;
}