@charset "utf-8";

@import url("framework.css");

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{padding:50px 0 50px;}

#header #logo{margin-bottom:60px; text-align:center;}

#topbar{}
#topbar .fl_right .pushright li{margin-right:10px;}
#topbar .fl_right .pushright li:last-child{margin-right:0;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

.services li:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */
.services article{display:inline-block; width:100%; max-width:320px; border:1px solid; text-align:center;}
.services article div{position:relative; padding:20px; z-index:1;}
.services article div::before, .services article div::after{position:absolute; top:-10px; width:50%; height:30px; content:""; z-index:-1;}
.services article div::before{left:0; -ms-transform:skewY(5deg); transform:skewY(5deg);}/* -ms- supports IE9 */
.services article div::after{right:0; -ms-transform:skewY(-5deg); transform:skewY(-5deg);}/* -ms- supports IE9 */
.services article div *{margin:0;}
.services article div .heading{margin-bottom:10px; font-size:1.2rem; font-weight:700;}
.services article div footer{margin-top:15px;}

/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0;}

#footer .title{margin:0 0 30px 0; padding:0; font-size:1.2rem; text-transform:uppercase;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .contact{}
#footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
#footer .contact li *{margin:0; padding:0; line-height:1.6;}
#footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
*, *::before, *::after{transition:all .3s ease-in-out;}
#mainav form *{transition:none !important;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{text-align:center;}
#mainav ul{text-transform:uppercase; text-align:center;}
#mainav ul ul{z-index:9999; position:absolute; width:160px; text-transform:none; text-align:left;}
#mainav ul ul ul{left:160px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 10px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:0 0 20px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:5px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:20px 0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:none;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:20px 0; text-align:right;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px; text-transform:uppercase;}
#breadcrumb li a::after{top:3px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}




/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#888888; background-color:#FFFFFF;}
a{color:#56AED4;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#56AED4;}
.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-image: url("../img/img4.jpg"); background-repeat: no-repeat;
background-size: 100%; background-attachment: fixed;}

.btn, .btn.inverse:hover{color:#333; background-color:#abcb42; border-color:#abcb42;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}

.bg_white{color:#888888; background-color:#FFFFFF;}


/* Rows */
.row1, .row1 a{}
.row2, .row2 a{color:#FFFFFF; background-color:rgba(255,255,255,.5);}
.row3{color:#888888; background-color:#FFFFFF;}
.row4{color:#ACACAC; background-color:#2A2A2A;}
.row5, .row5 a{color:#888888; background-color:#FFFFFF;}


/* Header */
#header #logo *{color:inherit;}
#header #logo i{color:rgba(255,255,255,.3);}
#topbar .fl_right a{color:inherit;}


/* Page Intro */
#pageintro .introtxt::after{background-color:rgba(255,255,255,.25); border-color:rgba(255,255,255,.5);}


/* Full Width Split Box */
.split.light{color:#333335; background-color:rgba(243,243,243,1);/* #F3F3F3 */}/* Changes in mediaqueries */
.split .box{background-color:inherit;}


/* Content Area */
.services article{border-color:#D7D7D7;}
.services article div::before, .services article div::after{background-color:#FFFFFF;}


/* Footer */
#footer .title{color:#FFFFFF;}
#footer .linklist li{border-color:#4D4D4D;}
#footer hr, #footer .borderedbox{border-color:#4D4D4D;}


/* Navigation */
#mainav li a{color:#ffffff;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#f35001; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#56AED4;}
#mainav form select{color:#FFFFFF; background-color:#333335;}

#breadcrumb a{background-color:inherit;}
#breadcrumb li:last-child a{}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#56AED4;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#56AED4;}

#backtotop{color:#FFFFFF; background-color:#56AED4;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
#comments input:focus, #comments textarea:focus, #comments *:required:focus{border-color:#56AED4;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px){
	.hoc{max-width:90%;}

	#header{}

	#topbar .fl_right .inline{margin-top:20px;}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}


@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	/*.fl_left, .fl_right{display:block; float:none;}*/
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#topbar .fl_right .inline{margin-top:0; text-align:center;}

	#pageintro{padding:50px 0 100px; word-break:break-all;}
	#pageintro .introtxt{}
	#pageintro .introtxt .heading{font-size:36px;}

	.split{}
	.split .box{float:none; width:100%;}
	.split.light{background-color:rgba(243,243,243,.8);/* #F3F3F3 */}

	#footer{padding-bottom:50px;}/* Not required but looks better */
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	#topbar .fl_right .inline li{display:inline-block;}
	#topbar .fl_right .inline li{margin-right:20px;}
	#topbar .fl_right .inline li:last-child{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}
}

.Reserve{
	background-image: url("../img/img8.jpg"); 
	background-repeat: 
	no-repeat;
	background-size: 100%; 
	background-attachment: 
	fixed;
	text-align: center;
	justify-content: center;
}
.reserve1{
	background-color: #fff;
	width: 100%;
	text-align: center;
	justify-content: center;
	padding: 60px 0px;
}
.reserve1 .dates{
	margin-bottom: 50px;
	margin-left: 38.5%;
}

.choose{
	border: 1px solid #bdc3c7;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.spaces{
	margin-top: 60px;
}