@charset "utf-8";

@import url("framework.css");

h3{
	margin-bottom: 20px;
}
.Reserve{
	background-size: 100%; 
	background-attachment: 
	fixed;
	text-align: center;
	justify-content: center;
}
.reserve1{
	background-color: #fff;
	width: 100%;
	text-align: center;
	justify-content: center;
	padding: 60px 0px;
}
.reserve1 .dates{
	margin-bottom: 50px;
	padding-left: 10.2%;
}

.choose{
	border: 1px solid #bdc3c7;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.spaces{
	margin-top: 60px;
}
.choose h3{
	margin-top: 50px;
}
#user{
	margin-bottom: 50px;
	margin-top: 80px;
	margin-left: 14%;
	width: 70%;
}
#mail{
	margin-bottom: 60px;
	margin-top: 80px;
	margin-left: 14%;
	width: 70%;	
}
#telephone{
	margin-bottom: 60px;
	margin-top: 80px;
	margin-left: 14%;
	width: 70%;	
}