<div id="top">
  <div class="bgded" style="background-image:url('img/background3-min.jpg'); background-repeat: no-repeat; background-position: center center;">
    <div ng-include="'include/nav.html'"></div>
    <div class="wrapper row2">
      <div id="breadcrumb" class="hoc clear">
        <span class="fa fa-facebook-official"> facebook.com</span>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <main class="container clear">
      <h1>Nuestras bellezas naturales</h1>
      <section>
  <div class="container gal-container">
    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#1">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159695/sample.jpg">
        </a>
        <div class="modal fade" id="1" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159695/sample.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the first one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#2">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510160230/img3-min_bqbfvh.jpg">
        </a>
        <div class="modal fade" id="2" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510160230/img3-min_bqbfvh.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the second one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#3">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510174016/img15-min_eiw8lv.jpg">
        </a>
        <div class="modal fade" id="3" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510174016/img15-min_eiw8lv.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the third one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#4">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159888/img4-min_fjhymc.jpg">
        </a>
        <div class="modal fade" id="4" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510160316/img4-min_yhqvga.png">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the fourth one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#5">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510173126/img13-min_l2bmjm.jpg">
        </a>
        <div class="modal fade" id="5" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510173126/img13-min_l2bmjm.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the fifth one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#6">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510160273/img9-min_cilmlf.jpg">
        </a>
        <div class="modal fade" id="6" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510160273/img9-min_cilmlf.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the sixth one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#7">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510173131/img14-min_abqvcn.jpg">
        </a>
        <div class="modal fade" id="7" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510173131/img14-min_abqvcn.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the seventh one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#8">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159571/bird-min_xl748c.jpg">
        </a>
        <div class="modal fade" id="8" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159571/bird-min_xl748c.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the eighth one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#9">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510160228/img6-min_rkvvhv.jpg">
        </a>
        <div class="modal fade" id="9" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510160228/img6-min_rkvvhv.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the ninth one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#10">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510173114/img11-min_omncof.jpg">
        </a>
        <div class="modal fade" id="10" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510173114/img11-min_omncof.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the tenth one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#11">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159884/img5-min_xqqeyb.jpg">
        </a>
        <div class="modal fade" id="11" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510160322/img5-min_ycpp1i.png">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the leventh one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#12">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510173124/img12-min_jiru0y.jpg">
        </a>
        <div class="modal fade" id="12" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510173124/img12-min_jiru0y.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the 12th one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#13">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159616/img9-min_d52rym.jpg">
        </a>
        <div class="modal fade" id="13" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159616/img9-min_d52rym.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the 13th one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#14">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510160277/img8-min_duibti.jpg">
        </a>
        <div class="modal fade" id="14" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510160277/img8-min_duibti.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the 14th one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#15">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159567/example-min_xwntap.jpg">
        </a>
        <div class="modal fade" id="15" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159567/example-min_xwntap.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the 15th one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#!gallery" data-toggle="modal" data-target="#16">
          <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159592/img8-min_ucslqv.jpg">
        </a>
        <div class="modal fade" id="16" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159592/img8-min_ucslqv.jpg">
              </div>
                <div class="col-md-12 description">
                  <h4>This is the 16th one on my Gallery</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    </main>
  </div>
  <div class="wrapper row4">
    <div ng-include="'include/footer.html'"></div>
  </div>

  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
  </div>
