<div id="top">
  <div class="bgded" style="background-image:url('img/background3-min.jpg'); background-repeat: no-repeat; background-position: center center;">
  <div ng-include="'include/nav.html'"></div>
  <div class="wrapper row2">
    <div id="breadcrumb" class="hoc clear">
      <span class="fa fa-facebook-official"> facebook.com</span>
    </div>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="content">
      <h1>Un vistaso a nuestro mundo</h1>
      <img class="imgr borderedbox inspace-5" src="img/bird1-min.jpg" alt="">
      <p>El Parque Germánico es un proyecto basando en  reforestar y proteger medioambiental, así como la concientización del ambiente hacia nuestros visitantes, esta idea se plasma en octubre de 2016 y surge por la necesidad de regenerar una fracción de terreno que fue dañada por la intervención del hombre,  el proyecto promueve un crecimiento de hasta 360 hectáreas de conservación de los mantos acuíferos, flora y fauna de la región en especial aves en peligro por cazadores, como Chamaepetes unicolor, Pharomachrus mocinno y Trogonidae</p>
      <p>Busca de igual forma desarrollar un espacio seguro para la protección de especies y diversos animales dañados en un refugio de vida silvestre, cuenta con el desarrollo de cabañas rusticas, un vivero y espacio de cultivo para alimentación de los animales, un estanque de preservación de anfibios y diversos peces, además de senderos con plantas coloridas en toda su extensión para la visualización de las diferentes áreas del espacio conservado.</p>
      <img class="imgl borderedbox inspace-5" src="img/bird1-min.jpg" alt="">
      <p>En Parque Germánico se promueve el senderismo por áreas conservadas y de aire puro, además de espacios seguros y en conexión con el ambiente de las zonas altas de San José, acercando a nuestros visitantes a una experiencia única con la naturaleza. </p>
       <p>El área de conservación cuenta con cabañas para el hospedaje de los diferentes usuarios, área para acampar en cercanía con la naturaleza, además de caminatas guiadas a ríos y cataratas de la zona, así como la vista de los volcanes Turrialba e Irazú.</p>

      <div class="clear"></div>

    </div>
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper row4">
    <div ng-include="'include/footer.html'"></div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="./public/scripts/jquery.min.js"></script>
<script src="./public/scripts/jquery.backtotop.js"></script>
<script src="./public/scripts/jquery.mobilemenu.js"></script>
<!-- IE9 Placeholder Support -->
<script src="./public/scripts/jquery.placeholder.min.js"></script>
</div>
