<div id="top">
  <div class="bgded overlay">
    <div ng-include="'include/nav.html'"></div>
    <div id="pageintro" class="hoc clear">
      <article class="introtxt">
        <h2 class="heading">Parque</h2>
        <h2 class="heading">Germánico</h2>
        <p>Un lugar de paz y exuberancia en la naturaleza</p>
        <footer><a class="btn medium inverse" href="#">Reserve aquí</a></footer>
      </article>

    </div>
  </div>
  <div class="wrapper">
    <div class="split clear light">
      <article class="box center">
        <div class="btmspace-30">
          <h2 class="heading font-x2">¿Quiénes somos?</h2>
          <p>Parque germánico es un proyecto que tiene como objetivo la preservación de la flora y fauna pertenecientes a la zona geográfica, el proyecto se desarrolla en una propiedad de la zona de Monserrat de Coronado, con una distribución de 150085 metros cuadrados, los mismos se encuentran en regeneración con un plan definido, donde se incorporan especies de flora propias de la altitud y condiciones climatológicas para su uso en la regeneración del hábitat de la región con una extensión máxima de 360 hectáreas de preservación en los próximos años.</p>
          <p>En el proyecto se contempla la creación de un vivero de 1500 metros cuadrados para la creación de las diferentes especies que serán plantadas dentro de la propiedad, un estanque de agua para riego y abastecimiento del proyecto mismo esto con miras a las épocas de verano o sequias a sufrir y no se vean afectadas las especies a sembrar.</p>
          <p>En el área de conservación se cuenta con cabañas para el hospedaje de los diferentes usuarios, área para acampar en cercanía con la naturaleza, además de caminatas guiadas a ríos y cataratas de la zona, así como la vista de los volcanes Turrialba e Irazú.</p>
        </div>

      </article>
    </div>
  </div>
  <div class="wrapper row3">
    <main class="hoc container clear">
      <div class="center btmspace-50">
        <h3 class="font-x2 nospace">Galería</h3>
      </div>
      <div id="showcase">
        <ul class="clear">
          <li class="images">
            <figure><a href="#"><img src="img/small/img1.jpg" alt=""> <strong>Rana</strong></a></figure>
          </li>
          <li class="images">
            <figure><a href="#"><img src="img/small/img2.jpg" alt=""> <strong>Rana</strong></a></figure>
          </li>
          <li class="images">
            <figure><a href="#"><img src="img/small/img3.jpg" alt=""> <strong>Rana</strong></a></figure>
          </li>
          <li class="images">
            <figure><a href="#"><img src="img/small/img2.jpg" alt=""> <strong>Rana</strong></a></figure>
          </li>
          <li class="images">
            <figure><a href="#"><img src="img/small/img3.jpg" alt=""> <strong>Rana</strong></a></figure>
          </li>
          <li class="images">
            <figure><a href="#"><img src="img/small/img1.jpg" alt=""> <strong>Rana</strong></a></figure>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </main>
  </div>
  <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');">
    <div class="hoc container clear">
      <ul class="nospace group center btmspace-50">
        <li class="one_third first">
          <article class="block inspace-30 borderedbox bg_white"><a href="#"><i class="btmspace-15 fa fa-4x fa-coffee"></i></a>
            <h6 class="font-x1">Servicios</h6>
            <p class="nospace">Sapien nullam pulvinar nulla vel rutrum imperdiet nunc ante.</p>
            <footer><a class="btn small" href="#">Leer más</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article class="block inspace-30 borderedbox bg_white"><a href="#"><i class="btmspace-15 fa fa-4x fa-tree"></i></a>
            <h6 class="font-x1">Actividades</h6>
            <p class="nospace">Aliquet diam aenean malesuada massa massa sed lobortis risus.</p>
            <footer><a class="btn small" href="#">Leer más</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article class="block inspace-30 borderedbox bg_white"><a href="#"><i class="btmspace-15 fa fa-4x fa-credit-card-alt"></i></a>
            <h6 class="font-x1">Pagos y Precios</h6>
            <p class="nospace">Duis dui turpis egestas id odio et faucibus egestas enim fusce.</p>
            <footer><a class="btn small" href="#">Leer más</a></footer>
          </article>
        </li>
      </ul>
      <div class="center">
        <h3 class="font-x2">Servicios y Actividades</h3>
      </div>
    </div>
  </div>
  <div class="wrapper row4">
    <footer id="footer" class="hoc clear">
      <div class="center btmspace-50">
        <h4 class="nospace uppercase">Contáctenos</h4>
      </div>
      <hr class="btmspace-50">
      <div class="group">
        <div class="one_quarter">
          <h6 class="title">Datos de contacto</h6>
          <ul class="nospace linklist contact">
            <li><i class="fa fa-phone"></i> +00 (123) 456 7890<br>
              +00 (123) 456 7890</li>
            <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
            <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
          </ul>
        </div>
        <div class="one_quarter">
          <h6 class="title">Social</h6>
          <ul class="nospace linklist">
            <li><a href="#">Semper libero ornare sit</a></li>
            <li><a href="#">Amet mauris mattis euismod</a></li>
            <li><a href="#">Ex sit amet porta tellus</a></li>
            <li><a href="#">Facilisis pulvinar vestibulum</a></li>
          </ul>
        </div>
        <div class="one_quarter">
          <h6 class="title">Ubicación</h6>
          <ul class="nospace linklist contact">
            <li><i class="fa fa-map-marker"></i>
              <address>
              Street Name &amp; Number, Town, Postcode/Zip
              </address>
            </li>
            <li></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved </p>
    </div>
  </div>
  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="./public/scripts/jquery.min.js"></script>
  <script src="./public/scripts/jquery.backtotop.js"></script>
  <script src="./public/scripts/jquery.mobilemenu.js"></script>
  <!-- IE9 Placeholder Support -->
  <script src="./public/scripts/jquery.placeholder.min.js"></script>
</div>
