<div id="top">

  <div class="bgded"  style="background-image:url('img/background1-min.jpg'); background-repeat: no-repeat; background-position: center center;">
    <div ng-include="'include/nav.html'"></div>
    <div id="pageintro" class="hoc clear">
      <article class="introtxt">
        <h2 class="heading">Parque</h2>
        <h2 class="heading">Germánico</h2>
        <p>Un lugar de paz y exuberancia en la naturaleza</p>
        <footer><a class="btn medium inverse" href="#!Reserve">Reserve aquí</a></footer>
      </article>

    </div>
  </div>
  <div class="wrapper">
    <div class="split clear light">
      <article class="box center">
        <div class="btmspace-30">
          <h2 class="heading font-x2">Sobre Nosotros</h2>
          <p>El Parque Germánico es un proyecto basando en  reforestar y proteger medioambiental, así como la concientización del ambiente hacia nuestros visitantes, esta idea se plasma en octubre de 2016 y surge por la necesidad de regenerar una fracción de terreno que fue dañada por la intervención del hombre,  el proyecto promueve un crecimiento de hasta 360 hectáreas de conservación de los mantos acuíferos, flora y fauna de la región en especial aves en peligro por cazadores, como Chamaepetes unicolor, Pharomachrus mocinno y Trogonidae</p>
          <p>Busca de igual forma desarrollar un espacio seguro para la protección de especies y diversos animales dañados en un refugio de vida silvestre, cuenta con el desarrollo de cabañas rusticas, un vivero y espacio de cultivo para alimentación de los animales, un estanque de preservación de anfibios y diversos peces, además de senderos con plantas coloridas en toda su extensión para la visualización de las diferentes áreas del espacio conservado.</p>
        </div>
        <a class="btn small col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4" href="#!Information">Leer más</a>
      </article>
    </div>
  </div>
  <div class="wrapper row3">
    <main class="hoc container clear">
      <div class="center btmspace-50">
        <h3 class="font-x2 nospace">Galería</h3>
      </div>
      <div id="showcase" class=" gal-container">
        <div class="col-md-4 col-sm-6 co-xs-6 images gal-item">
          <div class="box">
            <a href="#!Home" data-toggle="modal" data-target="#1">
              <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510160205/img2-min_nkic92.jpg">
            </a>
            <div class="modal fade" id="1" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <div class="modal-body">
                    <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510160205/img2-min_nkic92.jpg">
                  </div>
                    <div class="col-md-12 description">
                      <h4>This is the first one on my Gallery</h4>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-6 images gal-item">
          <div class="box">
            <a href="#!Home" data-toggle="modal" data-target="#2">
              <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159695/sample.jpg">
            </a>
            <div class="modal fade" id="2" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <div class="modal-body">
                    <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159695/sample.jpg">
                  </div>
                    <div class="col-md-12 description">
                      <h4>This is the second one on my Gallery</h4>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-6 images gal-item">
          <div class="box">
            <a href="#!Home" data-toggle="modal" data-target="#3">
              <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159571/bird-min_xl748c.jpg">
            </a>
            <div class="modal fade" id="3" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <div class="modal-body">
                    <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159571/bird-min_xl748c.jpg">
                  </div>
                    <div class="col-md-12 description">
                      <h4>This is the third one on my Gallery</h4>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-6 images gal-item">
          <div class="box">
            <a href="#!Home" data-toggle="modal" data-target="#4">
              <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159616/img9-min_d52rym.jpg">
            </a>
            <div class="modal fade" id="4" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <div class="modal-body">
                    <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510159616/img9-min_d52rym.jpg">
                  </div>
                    <div class="col-md-12 description">
                      <h4>This is the fourth one on my Gallery</h4>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-6 images gal-item">
          <div class="box">
            <a href="#!Home" data-toggle="modal" data-target="#5">
              <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510174016/img15-min_eiw8lv.jpg">
            </a>
            <div class="modal fade" id="5" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <div class="modal-body">
                    <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510174016/img15-min_eiw8lv.jpg">
                  </div>
                    <div class="col-md-12 description">
                      <h4>This is the fifth one on my Gallery</h4>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-6 images gal-item">
          <div class="box">
            <a href="#!Home" data-toggle="modal" data-target="#6">
              <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510160230/img3-min_bqbfvh.jpg">
            </a>
            <div class="modal fade" id="6" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <div class="modal-body">
                    <img src="http://res.cloudinary.com/parquegermanico/image/upload/v1510160230/img3-min_bqbfvh.jpg">
                  </div>
                    <div class="col-md-12 description">
                      <h4>This is the sixth one on my Gallery</h4>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <br>
      <a class="btn small col-md-2 col-md-offset-5 col-xs-3 col-xs-offset-4" href="#!gallery">Ver más</a>
  </div>

  <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');">
    <div class="hoc container clear">
      <ul class="nospace group center btmspace-50">
        <li class="one_third first">
          <article class="block inspace-30 borderedbox bg_white"><a href="#"><i class="btmspace-15 fa fa-4x fa-coffee"></i></a>
            <h6 class="font-x1">Servicios</h6>
            <p class="nospace">Sapien nullam pulvinar nulla vel rutrum imperdiet nunc ante.</p>
            <footer><a class="btn small" href="#!/Activity">Leer más</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article class="block inspace-30 borderedbox bg_white"><a href="#"><i class="btmspace-15 fa fa-4x fa-tree"></i></a>
            <h6 class="font-x1">Actividades</h6>
            <p class="nospace">Aliquet diam aenean malesuada massa massa sed lobortis risus.</p>
            <footer><a class="btn small" href="#!/Activity">Leer más</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article class="block inspace-30 borderedbox bg_white"><a href="#"><i class="btmspace-15 fa fa-4x fa-credit-card-alt"></i></a>
            <h6 class="font-x1">Pagos y Precios</h6>
            <p class="nospace">Duis dui turpis egestas id odio et faucibus egestas enim fusce.</p>
            <footer><a class="btn small" href="#!/Reserve">Leer más</a></footer>
          </article>
        </li>
      </ul>
      <div class="center">
        <h3 class="font-x2">Servicios y Actividades</h3>
      </div>
    </div>
  </div>
    </main>
  </div>
  <div class="wrapper row4">
      <div ng-include="'include/footer.html'"></div>
  </div>

  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="./public/scripts/jquery.min.js"></script>
  <script src="./public/scripts/jquery.backtotop.js"></script>
  <script src="./public/scripts/jquery.mobilemenu.js"></script>
  <!-- IE9 Placeholder Support -->
  <script src="./public/scripts/jquery.placeholder.min.js"></script>
</div>
