<section class="row container">
	<h1>Conoce nuestras instalaciones y actividades</h1>

	<div class="col-md-12">
		<h3 class="col-md-offset-3">Instalaciones</h3>

	<div class="col-md-11 col-md-offset-1">
		<div class="col-md-9">
			<div class="col-md-4">
				<h4>Camping</h4>
				<p>Texto descriptivo</p>
			</div>
			<img src="img/example.jpg" class="col-md-7">
		</div>

		<div class="col-md-9">
			<img src="img/example.jpg" class="col-md-7">
			<div class="col-md-4">
				<h4>Camping</h4>
				<p>Texto descriptivo</p>
			</div>
		</div>

		<div class="col-md-9">
			<div class="col-md-4">
				<h4>Camping</h4>
				<p>Texto descriptivo</p>
			</div>
			<img src="img/example.jpg" class="col-md-7">
		</div>
	</div>	
	</div>


	<div class="col-md-12">
		<h3 class="col-md-offset-3">Actividades</h3>

	<div class="col-md-11 col-md-offset-1">
		
		<h4 class="col-md-7">Caminatas</h4>
		<h4 class="col-md-7">Fauna</h4>
		<h4 class="col-md-7">Flora</h4>
	</div>	
	</div>
		
</section>
