<section class="row container-fluid">
	<h1 class="col-md-offset-1">Conoce nuestras instalaciones y actividades</h1>

	<div class="col-md-12 col-md-offset-1">
		<h3 class="col-md-offset-3">Instalaciones</h3>

	<div class="col-md-12">
		<div class="col-md-9">
			<div class="col-md-4">
				<h4>Camping</h4>
				<p>Texto descriptivo</p>
			</div>
			<img src="img/example.jpg" class="col-md-7">
		</div>

		<div class="col-md-9">
			<img src="img/example.jpg" class="col-md-7">
			<div class="col-md-4">
				<h4>Camping</h4>
				<p>Texto descriptivo</p>
			</div>
		</div>

		<div class="col-md-9">
			<div class="col-md-4">
				<h4>Camping</h4>
				<p>Texto descriptivo</p>
			</div>
			<img src="img/example.jpg" class="col-md-7">
		</div>
	</div>	
	</div>


	<div class="col-md-12">
		<h3 class="col-md-offset-2">Actividades</h3>

	<div class="col-md-11">
		<div class="col-md-4">
			<h4>Caminatas</h4>
			<p>Texto descriptivo</p>
			<img src="img/example2.jpg">
		</div>
		<div class="col-md-4">
			<h4>Fauna</h4>
			<p>Texto descriptivo</p>
			<img src="img/example2.jpg">
		</div>
		<div class="col-md-4">
			<h4>Flora</h4>
			<p>Texto descriptivo</p>
			<img src="img/example2.jpg">
		</div>
		
		
		
	</div>	
	</div>
		
</section>
