
<section class="row container-fluid Activity">
	<header id="header" class="hoc clear">
      <div id="logo">
      <img src="img/logo2.png" alt="">
      </div>
      <div id="topbar" class="clear">
        <nav id="mainav">
          <ul class="clear">
            <li class="active"><a href="#!/Home">Inicio</a></li>
            <li><a href="#">¿Quiénes somos?</a></li>
            <li><a href="#">Galería</a></li>
            <li><a href="#!/Activity">Actividades e Instalaciones</a></li>
            <li><a href="#">Reservaciones</a></li>
            <li><a href="#">Contáctenos</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="blank">
    	<h1 class="col-md-offset-1">Conoce nuestras instalaciones y actividades</h1>

	<div class="col-md-12 col-md-offset-1">
		<h3 class="col-md-offset-3">Instalaciones</h3>

	<div class="col-md-12">
		<div class="col-md-9">
			<div class="col-md-4" id="contInsta">
				<h4>Camping</h4>
				<p>Texto descriptivo</p>
			</div>
			<img src="img/example.jpg" class="col-md-7">
		</div>

		<div class="col-md-9">
			<img src="img/example.jpg" class="col-md-7">
			<div class="col-md-4" id="contInsta">
				<h4>Camping</h4>
				<p>Texto descriptivo</p>
			</div>
		</div>

		<div class="col-md-9">
			<div class="col-md-4" id="contInsta">
				<h4>Camping</h4>
				<p>Texto descriptivo</p>
			</div>
			<img src="img/example.jpg" class="col-md-7">
		</div>
	</div>	
	</div>
    </div>
	

    <div class="blank">
    	<div class="col-md-12">
		<h3 class="col-md-offset-2">Actividades</h3>

	<div class="col-md-11">
		<div class="col-md-4" id="contActi">
			<h4>Caminatas</h4>
			<p>Texto descriptivo</p>
			<img src="img/example2.jpg">
		</div>
		<div class="col-md-4" id="contActi">
			<h4>Fauna</h4>
			<p>Texto descriptivo</p>
			<img src="img/example2.jpg">
		</div>
		<div class="col-md-4" id="contActi">
			<h4>Flora</h4>
			<p>Texto descriptivo</p>
			<img src="img/example2.jpg">
		</div>
		
		
		
	</div>	
	</div>	
    </div>
	
		
</section>
